{% extends 'base_layout.html'%} {% block sidenav %}
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_hEGKVqcJo-oCHAZ21eAmzm7E8ougH7ZNXaSlRMNraGSyPnhn" width="250"
    height="250" alt="..." class="img-thumbnail">
<ul class="list-group" style="margin-top:5px">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Cras justo odio
        <span class="badge badge-primary badge-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Dapibus ac facilisis in
        <span class="badge badge-primary badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus
        <span class="badge badge-primary badge-pill">1</span>
    </li>
</ul>
{% endblock %} {% block content %}

<div class="row">
    <div class="col">
        <section>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Admission
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Program Enrollment</li>
                </ul>
            </div>
        </section>
    </div>
    <div class="col">
        <section>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Student Activity
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Student Log</li>
                    <li class="list-group-item">Student Activity</li>
                </ul>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col">
        <section>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Assesment
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Assesment Result</li>

                </ul>
            </div>
        </section>
    </div>
    <div class="col">
        <section>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Attendance
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Student Attendance</li>
                    <li class="list-group-item">Student Leave Application</li>

                </ul>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col">
        <section>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Fee
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fee</li>
                </ul>
            </div>
        </section>
    </div>
</div>
{% endblock %}